 .zon:nth-child(odd){
    background-color: black;
 }
 .tal:nth-child(even){
    background-color: black;
 }
 table{
    border: 25px groove gold ;
    outline: invert;
 }
 .riz{
    background-color: red;
    border: 0px;
 }
 td{
    border: 0px;
    box-shadow: inset 0px 0px 9px 0px grey;
    outline: 0px;
   
 }
 .hori1{
   list-style-type: none;
   text-transform: capitalize;  
}
a{
   text-decoration: none;
   justify-content: center;
   color: white;
}
.rev{
   display: inline-block;
   padding: 10px;
   background-color: blue;
   margin: 9px;
}
.zont{
   width: fit-content;
   margin-right: auto;
   margin-left: auto;
}
table{
   margin-left: auto;
   margin-right: auto;
   box-shadow: inset 2px 2px 2px 2px grey;
}