.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.form{
    background-color: purple;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* margin: 10px; */
    /* margin-left: 60px; */
    height: 300px;
    
}
.rom{
    background-color: white;
    width: fit-content;
    padding: 15px;
    border-radius: 3px;
}
.zont{
    /* background-color: blue; */
    width: fit-content;
    /* justify-content: center; */
    margin-right: auto;
    margin-left: auto;
}
.width{
    width: 400px;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
input{
    margin-bottom: 10px;
    width: 400px;
}
input[type=checkbox]{
    margin-left:0px ;
    width: auto;
}
.top{
    padding: 5px;
    margin: 5px;
    width: 60px;
    background-color: gold; 
    border-radius: 4px;
}
.omr{
    font-size: small;
    font-family: sans-serif;
}
.pro{
    background-color: antiquewhite;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    /* justify-content: flex-end; */
    
}
.low{
    background-color: gold;
    padding: 5px;
    display: inline;
    justify-content: flex-end;
}
.line{
    background-color: purple;
}
.gate{
    background-color: gold;
    width: fit-content;
    margin-left: 60px;
    padding: 10px;
}
.dex{
    border: 3px solid gold;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 5px;
    font-family: sans-serif;
    margin-left: 60px;
}
.hori1{
    list-style-type: none;   
}
a{
    text-decoration: none;
    justify-content: center;
}
.rev{
    display: inline-block;
    padding: 10px;
}
.parent{
    display: inline-block;
    padding: 10px;
    margin: 9px;  
 }
 .riv{
    display: block;
    margin: 2px;
    padding: 10px;
    
 }
 .bord:hover{
    color: white;
 }
 .horiz{
    visibility: hidden;
    position: absolute;
    padding: 0px;
    background-color: gold;
    width: 100px;
 }
 .parent:hover .horiz{
    visibility: visible;
 }
.code{
    color: red;
}
.bcode{
    margin-left: 60px;
    
}
.footer{
    background-color: gren;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 115px;
    /* border: 1px solid black; */
    
}
.move{
    list-style-type: none;
}
.vig{
    /* background-color: gold; */
    padding: px;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right:160px ;
    
}
.roi{
    margin: 0px;
    margin-right: 60px;
}
.fax{
    background-color: white;
    display: inline-block;
    margin: 0px;
}
.chime{
    border: 1px solid black;
    padding: 10px;
}
.rove{
    border: 1px solid black;
    background-color: gold;
    border-right: none;
}
.alt{
    width: 50px;
    margin-top: 10px;
    margin-left: 60px;
}
.ace{
    background-color: dimgrey;
    color: white;
    justify-content: center;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mace{
    font-size: small;
    /* margin: 10px; */
}
.list{
    color: blue;
}
@media screen  and (max-width: 786px ){
    .row{
        flex-direction: column;
    }
    
}