h5{
    text-align: right;
    line-height: 0.1;
    text-transform: capitalize;

}
h4{
    line-height: 0.1;
    text-transform: capitalize;
}
h3{
    text-align: center;
    background-image: url(road-1072823_1280.jpg);

    margin-bottom: 0px;
}
p{
    text-emphasis-color: white
    ;
    text-shadow: -10px -10px 10px black;
    /* padding: 20px; */
    border-color: gold;
    }
b{
    line-height: 1px;
    
}
   
i{
    text-align: right;
}
h1{
    background: blue;

    border: 10px dashed red;
    outline:  10px solid green;
    border-radius: 20px;
    

    box-shadow: inset 0px 0px 20px 15px black;

}
img{
    width: 200px;
    filter: blur(2px) brightness(0.4) hue-rotate(20deg) contrast(1%);
}
a{
    color: black;
    text-decoration: none;
}
   