body {
    background-color: #a7cd40;
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
}
.container {
    max-width: 900px;
    margin: auto;
    margin-top: 150px;
    padding: 50px 20px;
}
.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.features {
    display: flex;
    justify-content: space-around;
}
.feature {
    /* width: 30%; */
    text-align: center;
    margin-left: 50px;
}
/* .icon {
    font-size: 40px;
    margin-bottom: 10px;
} */
.feature h3 {
    font-size: 18px;
    font-weight: bold;
}
.feature p {
    font-size: 14px;
    margin: 10px 0;
}
.button {
    display: inline-block;
    background-color: orange;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}