.ark{
    width: 900px;
    height: 300px;
    background-color: white;
    overflow: scroll;
    scrollbar-width: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
img{
    width: 60px;
    padding-left: 80px;
    padding-top: 30px;
    border-radius: 20px;
}
p{
    padding: 30px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gate{
    padding: 10px;
    list-style-type: none;
    background-color: blue;
}
.gat{
    display: block;
    margin: 15px;
}
.got{
    padding: 10px;
    list-style-type: none;
    background-color: blue
}
.nvig{
    color: black;
    background-color: white;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}
.vig{
    color: black;
    /* background-color: white; */
    font-size:20px;
    padding: 0px;
    text-decoration: none;
}
.vig:hover{
    color: yellow;
}
.child{
    visibility: hidden;
    position: absolute;
    padding: 0px;
}
.got:hover .child{
    background-color: aquamarine;
    width: 150px;
    visibility: visible;
}
.emoji{
    font-size: 80px;
    position: fixed;
    right: 60px;
    transform: rotate(90deg);
    animation-name: ball;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    animation-delay: 0s;
}

@keyframes ball {
    0%{
     transform: rotate(0deg);
    }
    /* 25%{
     transform: rotate(180deg);
    }
    75%{
     transform: rotate(270deg);
    } */
    100%{
      transform: rotate(360deg);
    }
    
}
.box{
    border: 10px solid purple;
}
